button{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-top: 10px;
    font-family: "Rubik";
    background-color: #ffb703;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.googleSignBtn {
    color: white;
    padding: 7px;
}