button{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-top: 10px;
    font-family: "Rubik";
    background-color: #ffb703;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.googleSignBtn {
    padding: .7rem;
    background-color: white;
    color: rgb(70, 70, 70);
    
    svg {
        width: 20px;
        height: auto;
    }
    span {
        padding: 0 1rem;
    }
}

