@use "../../scss/mixins" as *;
@use "../../scss/colors" as *;
@use "../../scss/fonts" as *;

header {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: rgba( 7, 7, 7, 0.15 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    z-index: 99;
        
    @media (min-width: 768px) {
      position: fixed;
      left: 0;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      width: 175px;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
}

.zombie-parent {
  display: none;
  text-align: center;
  padding: 3rem 1rem 1rem;
  font-family: $zp-font;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  color: $non-active-color;
  @include flicker-effect;

  @media (min-width: 768px) {
    display: block;
  }
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .nav-container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding-bottom: 100px;
    }

    a {
      @media (min-width: 768px) {
        margin: 1rem 0;
      }
    }
  }
}