@use "../../scss/mixins" as *;
@use "../../scss/colors" as *;

.log-main {
    background: rgba( 7, 7, 7, 0.15 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    height: 100%;
        // border-radius: 10px;
    background-color: $section-color;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 6rem;

    @media (min-width: 768px) {
        padding-bottom: 1rem;
        height: auto;
    }
}

.log-order {
    // padding: 1rem 0  0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba( 7, 7, 7, 0.15 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
}

.hierarchy {
    color: white;
    width: 130px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: $section-color;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: gray 1px solid;
    cursor: pointer;
    @media (min-width: 768px){
        font-size: 1.1rem;
        width: 140px;
        overflow: hidden;
    }

    .hierarchy-name {
        text-align: center;
    }
    svg {
        width: 10px;
        fill: white;
    }
}
