.profile-h1{
    font-family: "Rubik";
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 10px;
}

.profile-h2{
    font-family: "Rubik";
    font-size: 70px;
    font-weight: 600;
    color: #E9C46A;
    letter-spacing: 2px;
    padding-bottom: 25px;
}

.profile-label{
    font-family: "Rubik";
    color: white;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 25px;
}