@use "../../scss/colors" as *;

.svg-icons {
    width: 30px;
    height: auto;
    fill: $non-active-color;

    @media (min-width: 768px){
        width: 50px;
    }
}

.active > .svg-icons {
    fill: $active-color;
}