@use "../../scss/colors" as *;
@use "../../scss/fonts" as *;
@use "../../scss/mixins" as *;

.set-eat-form {
    display: flex;
    flex-direction: row;
    outline: none;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: .5rem;
    border-radius: 5px;

    label {
        font-family: "Rubik";
        color: $non-active-color;
        font-size: .8rem;
    }

    input[type=number] {
        padding: .5rem;
        border: none;
        outline: none;
        background-color: rgb(255, 255, 255, 0.5);
        margin-bottom: .5rem;
        border-radius: 5px;
        width: 100%;
    }

    input[type=datetime-local] {
        padding: .5rem;
        border: none;
        outline: none;
        background-color: rgb(255, 255, 255, 0.5);
        margin-bottom: .5rem;
        border-radius: 5px;
    }
    input[type=submit] {
        cursor: pointer;
        padding: .5rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        width: 100%;
        transition: .2s ease-in-out;

        &:hover {
            background-color: rgba(201, 201, 201, 0.9);
        }
    }
}