$font-color: #707070;
$active-color: #FFBB00;
$non-active-color: #ffffff96;

// Used in log.scss
$base: #0f1923;
$white: #ece8e1;
$yellow: #eeaf00;

// Section Background Color
$section-color: #264653;
