@mixin animate-underline-left {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #505050;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
    }
    &:hover::before {
        visibility: visible;
        width: 100%;
    }
    &:hover {color: black}
}

@mixin animate-middle-out {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #505050;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
    &:hover {color: black}
}